@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KELMSCOT';
  src: url('/fonts/KELMSCOT.TTF');
}

@font-face {
  font-family: 'Optimus Princeps';
  src: url('/fonts/OptimusPrinceps.ttf');
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Optimus Princeps';
}

h1,
h2,
h3,
.title-font {
  font-family: 'KELMSCOT';
}
