.navigation {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  opacity: 90%;

  @media only screen and (max-width: 1600px) {
    grid-area: nav;
    align-items: normal;
  }

  @media only screen and (max-width: 1000px) {
    height: max-content;
    width: 100%;
  }
}
